<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Year of release:</strong>
    <%= book.year_of_release %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Quatity:</strong>
    <%= book.quatity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

</div>
